@charset "UTF-8";

/*
  author: Awedoo Studio
*/

/*==================================================
01. Clock
02. Balloons
03. Hourglass
04. Carousel
05. Bounce
06. Ripple

==================================================*/

/*==================================================
01. Clock
==================================================*/

.awd_clock {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    margin: -20px 0 0 -20px;
    border: 2px solid #666;
    border-radius: 20px;
    opacity: 0.8;
}

.awd_clock > div:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-top: 15px solid #ccc;
    margin: -16px 0 0 -1px;
    background: #666;
    -webkit-animation: awd_clock 1s linear 0s infinite;
    -moz-animation: awd_clock 1s linear 0s infinite;
    -ms-animation: awd_clock 1s linear 0s infinite;
    -o-animation: awd_clock 1s linear 0s infinite;
    animation: awd_clock 1s linear 0s infinite;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
}

.awd_clock > div:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-top: 11px solid #888;
    margin: -12px 0 0 -1px;
    background: #666;
    -webkit-animation: awd_clock 6s linear 0s infinite;
    -moz-animation: awd_clock 6s linear 0s infinite;
    -ms-animation: awd_clock 6s linear 0s infinite;
    -o-animation: awd_clock 6s linear 0s infinite;
    animation: awd_clock 6s linear 0s infinite;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
}

@-webkit-keyframes awd_clock {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes awd_clock {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes awd_clock {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes awd_clock {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*==================================================
02. Balloons
==================================================*/

.awd_balloons {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    -webkit-animation: awd_balloons 5s infinite linear;
    -moz-animation: awd_balloons 5s infinite linear;
    -ms-animation: awd_balloons 5s infinite linear;
    -o-animation: awd_balloons 5s infinite linear;
    animation: awd_balloons 5s infinite linear;
}

.awd_balloons > div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: #666;
    display: block;
    -webkit-animation: awd_balloons 1s infinite linear;
    -moz-animation: awd_balloons 1s infinite linear;
    -ms-animation: awd_balloons 1s infinite linear;
    -o-animation: awd_balloons 1s infinite linear;
    animation: awd_balloons 1s infinite linear;
}

.awd_balloons > div:nth-child(1) {
    opacity: 0.5;
}

.awd_balloons > div:nth-child(2) {
    left: 22px;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -ms-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
    opacity: 0.4;
}

.awd_balloons > div:nth-child(3) {
    top: 22px;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;
    opacity: 0.5;
}

.awd_balloons > div:nth-child(4) {
    top: 22px;
    left: 22px;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
    opacity: 0.6;
}

@-webkit-keyframes awd_balloons {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes awd_balloons {
    0% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(0.5);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes awd_balloons {
    0% {
        -o-transform: scale(1);
    }
    50% {
        -o-transform: scale(0.5);
    }
    100% {
        -o-transform: scale(1);
    }
}

@keyframes awd_balloons {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

/*==================================================
03. Hourglass
==================================================*/

.awd_hourglass {
    height: 40px;
    width: 41px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    opacity: 0.8;
    -webkit-animation: awd_hourglass 5s cubic-bezier(.8, 0, .2, 1) infinite;
    -moz-animation: awd_hourglass 5s cubic-bezier(.8, 0, .2, 1) infinite;
    -ms-animation: awd_hourglass 5s cubic-bezier(.8, 0, .2, 1) infinite;
    -o-animation: awd_hourglass 5s cubic-bezier(.8, 0, .2, 1) infinite;
    animation: awd_hourglass 5s cubic-bezier(.8, 0, .2, 1) infinite;
}

@-webkit-keyframes awd_hourglass {
    90% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@-moz-keyframes awd_hourglass {
    90% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(180deg);
    }
}

@-o-keyframes awd_hourglass {
    90% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(180deg);
    }
}

@keyframes awd_hourglass {
    90% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.awd_hourglass > div:nth-child(1) {
    border-top: 20px solid #666;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    height: 0px;
    width: 1px;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation: awd_hourglass_top 5s linear infinite;
    -moz-animation: awd_hourglass_top 5s linear infinite;
    -ms-animation: awd_hourglass_top 5s linear infinite;
    -o-animation: awd_hourglass_top 5s linear infinite;
    animation: awd_hourglass_top 5s linear infinite;
}

@-webkit-keyframes awd_hourglass_top {
    90% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(0);
    }
}

@-moz-keyframes awd_hourglass_top {
    90% {
        -moz-transform: scale(0);
    }
    100% {
        -moz-transform: scale(0);
    }
}

@-o-keyframes awd_hourglass_top {
    90% {
        -o-transform: scale(0);
    }
    100% {
        -o-transform: scale(0);
    }
}

@keyframes awd_hourglass_top {
    90% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

.awd_hourglass > div:nth-child(2) {
    border-right: 20px solid transparent;
    border-bottom: 20px solid #666;
    border-left: 20px solid transparent;
    height: 0px;
    width: 1px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation: awd_hourglass_bottom 5s linear infinite;
    -moz-animation: awd_hourglass_bottom 5s linear infinite;
    -ms-animation: awd_hourglass_bottom 5s linear infinite;
    -o-animation: awd_hourglass_bottom 5s linear infinite;
    animation: awd_hourglass_bottom 5s linear infinite;
}

@-webkit-keyframes awd_hourglass_bottom {
    10% {
        -webkit-transform: scale(0);
    }
    90% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes awd_hourglass_bottom {
    10% {
        -moz-transform: scale(0);
    }
    90% {
        -moz-transform: scale(1);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes awd_hourglass_bottom {
    10% {
        -o-transform: scale(0);
    }
    90% {
        -o-transform: scale(1);
    }
    100% {
        -o-transform: scale(1);
    }
}

@keyframes awd_hourglass_bottom {
    10% {
        transform: scale(0);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.awd_hourglass > div:nth-child(3) {
    border-left: 1px dotted #666;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 20px;
    left: 20px;
    -webkit-animation: awd_hourglass_line 5s linear infinite;
    -moz-animation: awd_hourglass_line 5s linear infinite;
    -ms-animation: awd_hourglass_line 5s linear infinite;
    -o-animation: awd_hourglass_line 5s linear infinite;
    animation: awd_hourglass_line 5s linear infinite;
}

@-webkit-keyframes awd_hourglass_line {
    10% {
        height: 20px;
    }
    100% {
        height: 20px;
    }
}

@-moz-keyframes awd_hourglass_line {
    10% {
        height: 20px;
    }
    100% {
        height: 20px;
    }
}

@-o-keyframes awd_hourglass_line {
    10% {
        height: 20px;
    }
    100% {
        height: 20px;
    }
}

@keyframes awd_hourglass_line {
    10% {
        height: 20px;
    }
    100% {
        height: 20px;
    }
}

/*==================================================
04. Carousel
==================================================*/

.awd_carousel {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
}

.awd_carousel > div {
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: #666;
    background: #666;
    border-color: #666;
    border-style: solid;
    border-width: 0
}

.awd_carousel:after {
    display: table;
    line-height: 0;
    clear: both;
    content: ""
}

.awd_carousel {
    width: 16px;
    height: 16px
}

.awd_carousel > div {
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    border-radius: 100%;
    opacity: .5;
    -webkit-animation: awd_carousel_position 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1), awd_carousel_size 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1);
    -moz-animation: awd_carousel_position 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1), awd_carousel_size 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1);
    -ms-animation: awd_carousel_position 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1), awd_carousel_size 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1);
    -o-animation: awd_carousel_position 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1), awd_carousel_size 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1);
    animation: awd_carousel_position 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1), awd_carousel_size 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1)
}

.awd_carousel > div:nth-child(1) {
    -webkit-animation-delay: 0s, -.5s;
    -moz-animation-delay: 0s, -.5s;
    -ms-animation-delay: 0s, -.5s;
    -o-animation-delay: 0s, -.5s;
    animation-delay: 0s, -.5s
}

.awd_carousel > div:nth-child(2) {
    -webkit-animation-delay: -.5s, -1s;
    -moz-animation-delay: -.5s, -1s;
    -ms-animation-delay: -.5s, -1s;
    -o-animation-delay: -.5s, -1s;
    animation-delay: -.5s, -1s
}

.awd_carousel > div:nth-child(3) {
    -webkit-animation-delay: -1s, -1.5s;
    -moz-animation-delay: -1s, -1.5s;
    -ms-animation-delay: -1s, -1.5s;
    -o-animation-delay: -1s, -1.5s;
    animation-delay: -1s, -1.5s
}

.awd_carousel > div:nth-child(4) {
    -webkit-animation-delay: -1.5s, -2s;
    -moz-animation-delay: -1.5s, -2s;
    -ms-animation-delay: -1.5s, -2s;
    -o-animation-delay: -1.5s, -2s;
    animation-delay: -1.5s, -2s
}

.awd_carousel > div:nth-child(5) {
    -webkit-animation-delay: -2s, -2.5s;
    -moz-animation-delay: -2s, -2.5s;
    -ms-animation-delay: -2s, -2.5s;
    -o-animation-delay: -2s, -2.5s;
    animation-delay: -2s, -2.5s
}

@-webkit-keyframes awd_carousel_position {
    50% {
        left: 100%
    }
}

@-moz-keyframes awd_carousel_position {
    50% {
        left: 100%
    }
}

@-o-keyframes awd_carousel_position {
    50% {
        left: 100%
    }
}

@keyframes awd_carousel_position {
    50% {
        left: 100%
    }
}

@-webkit-keyframes awd_carousel_size {
    50% {
        -webkit-transform: scale(0.3, 0.3);
    }
}

@-moz-keyframes awd_carousel_size {
    50% {
        -moz-transform: scale(0.3, 0.3);
    }
}

@-o-keyframes awd_carousel_size {
    50% {
        -o-transform: scale(0.3, 0.3);
    }
}

@keyframes awd_carousel_size {
    50% {
        transform: scale(0.3, 0.3)
    }
}

/*==================================================
05. Bounce
==================================================*/

.awd_bounce {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.awd_bounce > div {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    position: absolute;
    left: 50%;
    top: 50%;
}

.awd_bounce > div > div {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #666666;
    border-radius: 100%;
    -webkit-animation: awd_bounce 1s infinite ease-in-out;
    -moz-animation: awd_bounce 1s infinite ease-in-out;
    -ms-animation: awd_bounce 1s infinite ease-in-out;
    -o-animation: awd_bounce 1s infinite ease-in-out;
    animation: awd_bounce 1s infinite ease-in-out;
}

@-webkit-keyframes awd_bounce {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@-moz-keyframes awd_bounce {
    0% {
        -moz-transform: scale(0);
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0;
    }
}

@-o-keyframes awd_bounce {
    0% {
        -o-transform: scale(0);
    }
    100% {
        -o-transform: scale(1);
        opacity: 0;
    }
}

@keyframes awd_bounce {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/*==================================================
06. Ripple
==================================================*/

.awd_ripple {
    /* backface hidden */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    position: absolute;
    left: 50%;
    top: 50%;
}

.awd_ripple > div:nth-child(0) {
    -webkit-animation-delay: -0.8s;
    -moz-animation-delay: -0.8s;
    -ms-animation-delay: -0.8s;
    -o-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.awd_ripple > div:nth-child(1) {
    -webkit-animation-delay: -0.6s;
    -moz-animation-delay: -0.6s;
    -ms-animation-delay: -0.6s;
    -o-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.awd_ripple > div:nth-child(2) {
    -webkit-animation-delay: -0.4s;
    -moz-animation-delay: -0.4s;
    -ms-animation-delay: -0.4s;
    -o-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.awd_ripple > div:nth-child(3) {
    -webkit-animation-delay: -0.2s;
    -moz-animation-delay: -0.2s;
    -ms-animation-delay: -0.2s;
    -o-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.awd_ripple > div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #666666;
    -webkit-animation: awd_ripple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
    -moz-animation: awd_ripple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
    -ms-animation: awd_ripple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
    -o-animation: awd_ripple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
    animation: awd_ripple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}

@-webkit-keyframes awd_ripple {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0.1);
        opacity: 1;
    }
    70% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        opacity: 0.7;
    }
    100% {
        opacity: 0.0;
    }
}

@-moz-keyframes awd_ripple {
    0% {
        -moz-transform: translate(-50%, -50%) scale(0.1);
        opacity: 1;
    }
    70% {
        -moz-transform: translate(-50%, -50%) scale(1);
        opacity: 0.7;
    }
    100% {
        opacity: 0.0;
    }
}

@-o-keyframes awd_ripple {
    0% {
        -o-transform: translate(-50%, -50%) scale(0.1);
        opacity: 1;
    }
    70% {
        -o-transform: translate(-50%, -50%) scale(1);
        opacity: 0.7;
    }
    100% {
        opacity: 0.0;
    }
}

@keyframes awd_ripple {
    0% {
        transform: translate(-50%, -50%) scale(0.1);
        opacity: 1;
    }
    70% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.7;
    }
    100% {
        opacity: 0.0;
    }
}

/*==================================================
07. Spinning Disc
==================================================*/

.awd_disc {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    background: #666666;
    border-radius: 50px;
    -webkit-animation: awd_disc_rotate 1.5s infinite linear;
    -moz-animation: awd_disc_rotate 1.5s infinite linear;
    -ms-animation: awd_disc_rotate 1.5s infinite linear;
    -o-animation: awd_disc_rotate 1.5s infinite linear;
    animation: awd_disc_rotate 1.5s infinite linear;
}

.awd_disc > div {
    position: absolute;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    border-top: 5px solid #666666;
    border-bottom: 5px solid #666666;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 50%;
    -webkit-animation: awd_disc 1.5s infinite linear;
    -moz-animation: awd_disc 1.5s infinite linear;
    -ms-animation: awd_disc 1.5s infinite linear;
    -o-animation: awd_disc 1.5s infinite linear;
    animation: awd_disc 1.5s infinite linear;
}

@-webkit-keyframes awd_disc_rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        opacity: 0.6;
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        opacity: 0.6;
    }
}

@-moz-keyframes awd_disc_rotate {
    0% {
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        opacity: 0.6;
    }
    50% {
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        opacity: 0.8;
    }
    100% {
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        opacity: 0.6;
    }
}

@-o-keyframes awd_disc_rotate {
    0% {
        -o-transform: translate(-50%, -50%) rotate(0deg);
        opacity: 0.6;
    }
    50% {
        -o-transform: translate(-50%, -50%) rotate(180deg);
        opacity: 0.8;
    }
    100% {
        -o-transform: translate(-50%, -50%) rotate(360deg);
        opacity: 0.6;
    }
}

@keyframes awd_disc_rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 0.6;
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg);
        opacity: 0.8;
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        opacity: 0.6;
    }
}

@-webkit-keyframes awd_disc {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.8;
    }
}

@-moz-keyframes awd_disc {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.8;
    }
}

@-o-keyframes awd_disc {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes awd_disc {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.8;
    }
}

/*==================================================
08. Snake
==================================================*/

.awd_snake {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 62px;
    left: 50%;
    top: 50%;
}

.awd_snake > div {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #666666;
    opacity: 0.5;
    border-radius: 20px;
    -webkit-animation: awd_snake 1s infinite ease-in-out;
    -moz-animation: awd_snake 1s infinite ease-in-out;
    -ms-animation: awd_snake 1s infinite ease-in-out;
    -o-animation: awd_snake 1s infinite ease-in-out;
    -animation: awd_snake 1s infinite ease-in-out;

}

.awd_snake > div:nth-child(2) {
    left: 13px;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -ms-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}

.awd_snake > div:nth-child(3) {
    left: 26px;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;
}

.awd_snake > div:nth-child(4) {
    left: 39px;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
}

.awd_snake > div:nth-child(5) {
    left: 52px;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -ms-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
}

@-webkit-keyframes awd_snake {
    0% {
        opacity: 0.3;
        -webkit-transform: translateY(0px);
        -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
    50% {
        -webkit-transform: translateY(-10px);
        background: #333333;
        -webkit-box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);
    }
    100% {
        opacity: 0.3;
        -webkit-transform: translateY(0px);
        -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
}

@-moz-keyframes awd_snake {
    0% {
        opacity: 0.3;
        -moz-transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
        background: #333333;
        -webkit-box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);
    }
    100% {
        opacity: 0.3;
        -moz-transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
}

@-o-keyframes awd_snake {
    0% {
        opacity: 0.3;
        -o-transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
    50% {
        -o-transform: translateY(-10px);
        background: #333333;
        box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);
    }
    100% {
        opacity: 0.3;
        -o-transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
}

@keyframes awd_snake {
    0% {
        opacity: 0.3;
        transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
    50% {
        transform: translateY(-10px);
        background: #333333;
        box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);
    }
    100% {
        opacity: 0.3;
        transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
}

/*==================================================
09. Audio Wave
==================================================*/

.awd_wave {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 62px;
    left: 50%;
    top: 50%;
}

.awd_wave > div {
    display: block;
    bottom: 0px;
    width: 9px;
    height: 5px;
    background: #666666;
    position: absolute;
    -webkit-animation: awd_wave 1.5s infinite ease-in-out;
    -moz-animation: awd_wave 1.5s infinite ease-in-out;
    -ms-animation: awd_wave 1.5s infinite ease-in-out;
    -o-animation: awd_wave 1.5s infinite ease-in-out;
    animation: awd_wave 1.5s infinite ease-in-out;
}

.awd_wave > div:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -ms-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}

.awd_wave > div:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;
}

.awd_wave > div:nth-child(4) {
    left: 33px;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
}

.awd_wave > div:nth-child(5) {
    left: 44px;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -ms-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
}

@-webkit-keyframes awd_wave {
    0% {
        height: 5px;
        -webkit-transform: translateY(0px);
        opacity: 0.8;
    }
    25% {
        height: 20px;
        -webkit-transform: translateY(10px);
        opacity: 0.9;
    }
    50% {
        height: 5px;
        -webkit-transform: translateY(0px);
        opacity: 0.8;
    }
    100% {
        height: 5px;
        -webkit-transform: translateY(0px);
        opacity: 0.8;
    }
}

@-moz-keyframes awd_wave {
    0% {
        height: 5px;
        -moz-transform: translateY(0px);
        opacity: 0.8;
    }
    25% {
        height: 20px;
        -moz-transform: translateY(10px);
        opacity: 0.9;
    }
    50% {
        height: 5px;
        -moz-transform: translateY(0px);
        opacity: 0.8;
    }
    100% {
        height: 5px;
        -moz-transform: translateY(0px);
        opacity: 0.8;
    }
}

@-o-keyframes awd_wave {
    0% {
        height: 5px;
        -o-transform: translateY(0px);
        opacity: 0.8;
    }
    25% {
        height: 20px;
        -o-transform: translateY(10px);
        opacity: 0.9;
    }
    50% {
        height: 5px;
        -o-transform: translateY(0px);
        opacity: 0.8;
    }
    100% {
        height: 5px;
        -o-transform: translateY(0px);
        opacity: 0.8;
    }
}

@keyframes awd_wave {
    0% {
        height: 5px;
        transform: translateY(0px);
        opacity: 0.8;
    }
    25% {
        height: 20px;
        transform: translateY(10px);
        opacity: 0.9;
    }
    50% {
        height: 5px;
        transform: translateY(0px);
        opacity: 0.8;
    }
    100% {
        height: 5px;
        transform: translateY(0px);
        opacity: 0.8;
    }
}

/*==================================================
10. Pacman
==================================================*/

.awd_pacman,
.awd_pacman > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.awd_pacman {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: block;
    font-size: 0;
    color: #666666;
}

.awd_pacman > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.awd_pacman {
    width: 32px;
    height: 32px
}

.awd_pacman > div:nth-child(1),
.awd_pacman > div:nth-child(2) {
    width: 0;
    height: 0;
    background: transparent;
    border-style: solid;
    border-width: 16px;
    border-right-color: transparent;
    border-radius: 100%;
    -webkit-animation: awd_pacman_up 0.5s 0s infinite;
    -moz-animation: awd_pacman_up 0.5s 0s infinite;
    -o-animation: awd_pacman_up 0.5s 0s infinite;
    animation: awd_pacman_up 0.5s 0s infinite
}

.awd_pacman > div:nth-child(2) {
    margin-top: -32px;
    -webkit-animation-name: awd_pacman_down;
    -moz-animation-name: awd_pacman_down;
    -o-animation-name: awd_pacman_down;
    animation-name: awd_pacman_down
}

.awd_pacman > div:nth-child(3),
.awd_pacman > div:nth-child(4),
.awd_pacman > div:nth-child(5),
.awd_pacman > div:nth-child(6) {
    position: absolute;
    top: 50%;
    left: 200%;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: awd_pacman_balls 2s 0s infinite linear;
    -moz-animation: awd_pacman_balls 2s 0s infinite linear;
    -o-animation: awd_pacman_balls 2s 0s infinite linear;
    animation: awd_pacman_balls 2s 0s infinite linear
}

.awd_pacman > div:nth-child(3) {
    -webkit-animation-delay: -1.44s;
    -moz-animation-delay: -1.44s;
    -o-animation-delay: -1.44s;
    animation-delay: -1.44s
}

.awd_pacman > div:nth-child(4) {
    -webkit-animation-delay: -1.94s;
    -moz-animation-delay: -1.94s;
    -o-animation-delay: -1.94s;
    animation-delay: -1.94s
}

.awd_pacman > div:nth-child(5) {
    -webkit-animation-delay: -2.44s;
    -moz-animation-delay: -2.44s;
    -o-animation-delay: -2.44s;
    animation-delay: -2.44s
}

.awd_pacman > div:nth-child(6) {
    -webkit-animation-delay: -2.94s;
    -moz-animation-delay: -2.94s;
    -o-animation-delay: -2.94s;
    animation-delay: -2.94s
}

@-webkit-keyframes awd_pacman_up {
    0%, 100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes awd_pacman_up {
    0%, 100% {
        -moz-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    50% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes awd_pacman_up {
    0%, 100% {
        -o-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    50% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes awd_pacman_up {
    0%, 100% {
        transform: rotate(270deg)
    }
    50% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes awd_pacman_down {
    0%, 100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@-moz-keyframes awd_pacman_down {
    0%, 100% {
        -moz-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    50% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@-o-keyframes awd_pacman_down {
    0%, 100% {
        -o-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    50% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes awd_pacman_down {
    0%, 100% {
        transform: rotate(90deg)
    }
    50% {
        transform: rotate(0deg)
    }
}

@-webkit-keyframes awd_pacman_balls {
    0% {
        left: 200%;
        opacity: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    5% {
        opacity: .5
    }
    66% {
        opacity: 1
    }
    67% {
        opacity: 0
    }
    100% {
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

@-moz-keyframes awd_pacman_balls {
    0% {
        left: 200%;
        opacity: 0;
        -moz-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    5% {
        opacity: .5
    }
    66% {
        opacity: 1
    }
    67% {
        opacity: 0
    }
    100% {
        left: 0;
        -moz-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

@-o-keyframes awd_pacman_balls {
    0% {
        left: 200%;
        opacity: 0;
        -o-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    5% {
        opacity: .5
    }
    66% {
        opacity: 1
    }
    67% {
        opacity: 0
    }
    100% {
        left: 0;
        -o-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

@keyframes awd_pacman_balls {
    0% {
        left: 200%;
        opacity: 0;
        transform: translateY(-50%)
    }
    5% {
        opacity: .5
    }
    66% {
        opacity: 1
    }
    67% {
        opacity: 0
    }
    100% {
        left: 0;
        transform: translateY(-50%)
    }
}

/*==================================================
11. Newton Ball
==================================================*/

.awd_newton, 
.awd_newton > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.awd_newton {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: block;
    font-size: 0;
    color: #666666;
}

.awd_newton > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor
}

.awd_newton {
    width: 40px;
    height: 10px
}

.awd_newton > div {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    opacity: 0.8;
}

.awd_newton > div:first-child {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-animation: awd_newton_left 1s 0s ease-out infinite;
    -moz-animation: awd_newton_left 1s 0s ease-out infinite;
    -o-animation: awd_newton_left 1s 0s ease-out infinite;
    animation: awd_newton_left 1s 0s ease-out infinite
}

.awd_newton > div:last-child {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-animation: awd_newton_right 1s 0s ease-out infinite;
    -moz-animation: awd_newton_right 1s 0s ease-out infinite;
    -o-animation: awd_newton_right 1s 0s ease-out infinite;
    animation: awd_newton_right 1s 0s ease-out infinite
}

@-webkit-keyframes awd_newton_left {
    25% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    50% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@-moz-keyframes awd_newton_left {
    25% {
        -moz-transform: translateX(-100%);
        transform: translateX(-100%);
        -moz-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    50% {
        -moz-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@-o-keyframes awd_newton_left {
    25% {
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    50% {
        -o-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@keyframes awd_newton_left {
    25% {
        transform: translateX(-100%);
        animation-timing-function: ease-in
    }
    50% {
        transform: translateX(0%)
    }
}

@-webkit-keyframes awd_newton_right {
    50% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
    75% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@-moz-keyframes awd_newton_right {
    50% {
        -moz-transform: translateX(0%);
        transform: translateX(0%)
    }
    75% {
        -moz-transform: translateX(100%);
        transform: translateX(100%);
        -moz-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    100% {
        -moz-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@-o-keyframes awd_newton_right {
    50% {
        -o-transform: translateX(0%);
        transform: translateX(0%)
    }
    75% {
        -o-transform: translateX(100%);
        transform: translateX(100%);
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    100% {
        -o-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@keyframes awd_newton_right {
    50% {
        transform: translateX(0%)
    }
    75% {
        transform: translateX(100%);
        animation-timing-function: ease-in
    }
    100% {
        transform: translateX(0%)
    }
}