/*==================================================
Steps
==================================================*/

@mixin awd_steps() {
  
    .awd_steps {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        display: block;
        font-size: 0;
    }

    .awd_steps {
        width: 50px;
        height: 50px;
    }

    .awd_steps > div {
        float: left;
        width: 50%;
        height: 100%;
        position: relative;
        background-color: #666666;
    }

    .awd_steps > div:first-child {
        margin-top: -12px;
        animation: awd_steps_top 1s infinite linear reverse;
    }

    .awd_steps > div:last-child {
        margin-top: 12px;
        animation: awd_steps_bottom 1s infinite linear reverse;
    }

    @keyframes awd_steps_top {
        0% {
            margin-top: -12px;
        }
        50% {
            margin-top: 12px;
        }
        100% {
            margin-top: -12px;
        }
    }

    @keyframes awd_steps_bottom {
        0% {
            margin-top: 12px;
        }
        50% {
            margin-top: -12px;
        }
        100% {
            margin-top: 12px;
        }
    }

} // @mixin