/*==================================================
Steps
==================================================*/

.awd_steps {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: block;
    font-size: 0;
}

.awd_steps {
    width: 50px;
    height: 50px;
}

.awd_steps > div {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    background-color: #666666;
}

.awd_steps > div:first-child {
    margin-top: -12px;
    -webkit-animation: awd_steps_top 1s infinite linear reverse;
    -moz-animation: awd_steps_top 1s infinite linear reverse;
    -o-animation: awd_steps_top 1s infinite linear reverse;
    animation: awd_steps_top 1s infinite linear reverse;
}

.awd_steps > div:last-child {
    margin-top: 12px;
    -webkit-animation: awd_steps_bottom 1s infinite linear reverse;
    -moz-animation: awd_steps_bottom 1s infinite linear reverse;
    -o-animation: awd_steps_bottom 1s infinite linear reverse;
    animation: awd_steps_bottom 1s infinite linear reverse;
}

@-webkit-keyframes awd_steps_top {
    0% {
        margin-top: -12px;
    }
    50% {
        margin-top: 12px;
    }
    100% {
        margin-top: -12px;
    }
}

@-moz-keyframes awd_steps_top {
    0% {
        margin-top: -12px;
    }
    50% {
        margin-top: 12px;
    }
    100% {
        margin-top: -12px;
    }
}

@-o-keyframes awd_steps_top {
    0% {
        margin-top: -12px;
    }
    50% {
        margin-top: 12px;
    }
    100% {
        margin-top: -12px;
    }
}

@keyframes awd_steps_top {
    0% {
        margin-top: -12px;
    }
    50% {
        margin-top: 12px;
    }
    100% {
        margin-top: -12px;
    }
}

@-webkit-keyframes awd_steps_bottom {
    0% {
        margin-top: 12px;
    }
    50% {
        margin-top: -12px;
    }
    100% {
        margin-top: 12px;
    }
}

@-moz-keyframes awd_steps_bottom {
    0% {
        margin-top: 12px;
    }
    50% {
        margin-top: -12px;
    }
    100% {
        margin-top: 12px;
    }
}

@-o-keyframes awd_steps_bottom {
    0% {
        margin-top: 12px;
    }
    50% {
        margin-top: -12px;
    }
    100% {
        margin-top: 12px;
    }
}

@keyframes awd_steps_bottom {
    0% {
        margin-top: 12px;
    }
    50% {
        margin-top: -12px;
    }
    100% {
        margin-top: 12px;
    }
}